header ion-icon {
    width: 15px;
    height: 15px;
    color: #5F5F5F;
}

body {
    display: grid;
    grid-template-rows: 100px auto;
}

header {
    padding: 68px 35px 20px 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h4 {
    text-align: center;
    flex-grow: 1;
}

main {
    display: flex;
    flex-direction: column;
}

.tituloTipo {
    margin: 0px 18px;
}

#vistaCategorias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 60px 50px;
    column-gap: 50px;
    row-gap: 50px;
}

#vistaCategorias > div {
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 15px;
}

#vistaCategorias > div > div {
    width: 35px;
    height: 35px;
    background-color: #5F5F5F;
    border-radius: 50%
}

i {
    font-size: 35px;
}

#catSalario i {
    color: #86CE8E;
}

#catAlimentacion i {
    color: #A7B5FE;
}

#catGasolina i {
    color: #FFBC54;
}

#catAlquiler i {
    color: #FF8961;
}

#catViajes i {
    color: #FFD45A;
}

#catDeporte i {
    color: #CE6EAE;
}

#catOcio i {
    color: #71C7E2;
}

#catAhorro i {
    color: #FFAA5F;
}

#catSuministros i {
    color: #999;
}

#catRegalos i {
    color: #FFB0B9;
}

#catInversiones i {
    color: #CD9AE8;
}

#catTransporte i {
    color: #8C9EDD;
}

#catRopa i {
    color: #F2D08D;
}

#catSalud i {
    color: #F792C8;
}

#catMascotas i {
    color: #A8E2C9;
}

#catDonaciones i {
    color: #9B71CC;
}

#catBelleza i {
    color: #FF9292;
}

#catOtros i {
    color: #CECECE;
}

@media (min-width: 840px) {
    header {
        padding: 68px 80px 20px 80px;
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        z-index: 2;
    }

    header, #vistaCategorias {
        min-width: 540px;
        background-color: #FFFFFF;
    }

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 70px 150px;
    }

    #vistaCategorias {
        grid-template-columns: repeat(4, 1fr);
        column-gap: 100px;
        padding: 70px 75px 50px 75px;
        border-radius: 0px 0px 10px 10px;
        width: 100%;
        min-height: calc(100vh - 250px);
        overflow-y: auto;
    }

    aside > div:nth-of-type(1) img {
        rotate: 0deg;
    }

    aside .fuentePeque {
        font-size: 14px;
    }
}