header ion-icon {
    width: 15px;
    height: 15px;
    color: #5F5F5F;
}

body {
    display: grid;
    grid-template-rows: 100px auto 90px;
}

header {
    padding: 68px 35px 20px 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tituloTipo {
    margin: 0px 18px;
}

#vistaNeto {
    text-align: center;
    background-color: #F1F2FE;
    padding: 55px 50px 55px 50px;
    z-index: 0;
}

h5 {
    color: #727DF3;
    font-size: 15px;
    font-weight: 600;
}

h2 {
    color: #727DF3;
    font-size: 30px;
    font-weight: 700;
    padding-top: 5px;
    padding-bottom: 10px;
}

#vistaCuentas {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    border-radius: 10px 10px 0px 0px;
    padding: 50px 50px 25px 50px;
    position: relative;
    margin-top: -10px;
    z-index: 1;
    background-color: #FFFFFF;
    overflow-y: auto;
    height: calc(100vh - 450px);
}

#vistaCuentas > div {
    border-radius: 5px;
    border: 1px solid rgba(95, 95, 95, 0.60);
    padding: 13px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.predeterminada {
    border: 1px solid #727DF3 !important;
}

#botones {
    display: flex;
    justify-content: flex-end;
    padding: 30px;
    align-self: flex-end;
    column-gap: 20px;
}

.botonAzul, .botonTransparente {
    min-height: 25px;
    padding: 3px 15px;
    font-size: 14px;
}

.botonTransparente {
    border: 1px solid #727DF3;
    border-radius: 5px;
}

.botonTransparente:hover {
    background-color: #F1F2FE;
}

#vistaCuentas > div, #nuevaCuenta, #transferencia {
    cursor: pointer;
}

footer > div:nth-of-type(1) img {
    rotate: 0deg;
}

@media (min-width: 840px) {
    body {
        background-color: #F1F2FE;
    }

    header {
        padding: 68px 80px 20px 80px;
        border-radius: 10px 10px 0px 0px;
        z-index: 1;
    }

    header, #vistaCuentas {
        min-width: 540px;
    }

    main {
        grid-template-columns: 350px auto;
        grid-template-rows: none;
    }

    #vistaNeto {
        grid-row: 1 / 3;
        height: auto;
    }

    #vistaCuentas {
        padding: 50px 75px 25px 75px;
        min-height: calc(100vh - 340px);
    }

    #botones {
        grid-column: 2;
        background-color: #FFFFFF;
        border-radius: 0px 0px 10px 10px;
        padding: 40px;
    }

    .fuentePeque {
        font-size: 14px;
    }

    aside > div:nth-of-type(1) img {
        rotate: 0deg;
    }
}