/* General */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    min-width: 380px;
}

main {
    position: relative;
}

p, h1, h2, h3, h4, h5, h6 {
    color: #5F5F5F;
    font-family: Nunito;
}

img {
    object-fit: cover;
}

header {
    display: flex;
    box-shadow: 0px 4px 6px -3px rgba(95, 95, 95, 0.3);
    z-index: 2;
}

main header {
    display: none;
}

aside {
    display: none;
}

button {
    cursor: pointer;
}

.fuentePeque {
    font-size: 12px;
    font-weight: 400;
    color: #5F5F5F;
    font-family: Nunito;
}

.fuenteTransacciones {
    font-size: 14px;
    font-weight: 400;
    color: #5F5F5F;
    font-family: Nunito;
}

.tituloFiltro {
    font-size: 14px;
    font-weight: 500;
}

.tituloTipo {
    font-size: 15px;
    font-weight: 400;
} 

.botonAzul {
    border-radius: 5px;
    background: #727DF3;
    min-height: 40px;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 600;
    border: none;
    display: block;
}

.botonAzul:hover {
    background-color: #606cf1;
}

.botonTransparente {
    background: transparent;
    min-height: 40px;
    color: #727DF3;
    font-size: 15px;
    font-weight: 600;
    border: none;
}

.botonTransparente a {
    color: #727DF3;
}

input:focus {
    outline: none;
}

.porcentajes {
    font-size: 11px;
    font-weight: 500;
}

.todos {
    color: #727DF3;
    font-size: 15px;
    font-weight: 700;
}

.ingresos {
    color: #50CFBC;
    font-size: 15px;
    font-weight: 700;
}

.gastos {
    color: #FC7B7F;
    font-size: 15px;
    font-weight: 700;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px -4px 6px -3px rgba(95, 95, 95, 0.3);
    padding: 25px 35px;
    z-index: 1;
    background-color: #FFFFFF;
}

footer div {
    text-align: center;
}

footer > div:nth-of-type(1) img {
    width: 15px;
    height: 15px;
    rotate: 180deg;
}

footer img {
    width: 15px;
    height: 15px;
    margin-bottom: 7px;
}

.menuInicio, .menuTransacciones, .menuCuentas, .menuAjustes, .menuCerrarSesion {
    cursor: pointer;
}

@media (min-width: 840px) {
    body {
        display: grid;
        grid-template-columns: 225px auto;
    }

    body > header {
        display: none;
    }

    main {
        display: grid;
        grid-template-columns: 420px auto;
        grid-template-rows: 117px auto;
        min-height: 100vh;
        background-color: #F1F2FE;
        padding: 70px 50px 70px 0px;
    }

    main header {
        display: flex;
        grid-column: 2;
        background-color: #FFFFFF;
    }

    footer {
        display: none;
    }

    aside {
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        row-gap: 35px;
        padding: 105px 50px 45px 50px;
        min-height: 100vh;
        box-shadow: 4px 0px 6px -3px rgba(95, 95, 95, 0.3);
        z-index: 10;
    }

    aside img {
        width: 15px;
        height: 15px;
    }

    aside div {
        display: flex;
        align-items: center;
        column-gap: 20px;
    }

    aside > div:nth-of-type(1) img {
        rotate: 180deg;
    }

    aside > div:last-of-type {
        margin-top: auto;
    }

    aside > div:last-of-type p {
        color: #FC7B7F;
    }

    aside > div:last-of-type img {
        width: 17px;
        height: 17px;
    }
}