/* General */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    min-width: 380px;
}

p, h1, h2, h3, h4, h5, h6 {
    color: #5F5F5F;
    font-family: Nunito;
}

img {
    object-fit: cover;
}

header {
    display: flex;
    box-shadow: 0px 4px 6px -3px rgba(95, 95, 95, 0.3);
}

.fuentePeque {
    font-size: 12px;
    font-weight: 400;
}

/* 
.fuenteTransacciones {
    font-size: 14px;
    font-weight: 400;
}

.tituloFiltro {
    font-size: 14px;
    font-weight: 500;
}*/

.tituloTipo {
    font-size: 15px;
    font-weight: 400;
} 

.botonAzul {
    border-radius: 5px;
    background: #727DF3;
    min-height: 40px;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 600;
    border: none;
    display: block;
}

.botonTransparente {
    background: transparent;
    min-height: 40px;
    color: #727DF3;
    font-size: 15px;
    font-weight: 600;
    border: none;
}

/* .todos {
    color: #727DF3;
    font-size: 15px;
    font-weight: 700;
}

.ingresos {
    color: #50CFBC;
    font-size: 15px;
    font-weight: 700;
}

.gastos {
    color: #FC7B7F;
    font-size: 15px;
    font-weight: 700;
}

.porcentajes {
    font-size: 10px;
    font-weight: 500;
} */