body {
    display: grid;
    grid-template-rows: 100px auto 90px;
    position: relative;
}

header {
    align-items: center;
    padding: 68px 35px 20px 35px;
}

header div {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}

.tituloTipo {
    margin: 0px 18px;
}

footer > div:nth-of-type(1) img {
    rotate: 0deg;
}

main {
    display: flex;
    flex-direction: column;
    padding: 20px 25px 25px 35px;
    justify-content: space-between;
}

#vistaTransacciones {
    padding-bottom: 50px;
}

.grupoFecha > div {
    border-bottom: 0.5px solid rgba(95, 95, 95, 0.60);
    padding: 13px 0px 13px 0px;
    margin: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h5 {
    margin: 30px 0px 20px 0px;
    color: #5F5F5F;
    font-size: 15px;
    font-weight: 600;
}

#circulo {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #5F5F5F;
}

#circulo + p {
    margin-right: auto;
    margin-left: 20px;
}

#crearTransaccion {
    width: 40px;
    height: 40px;
    background-color: #727DF3;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    align-self: flex-end;
}

#crearTransaccion ion-icon {
    font-size: 22px;
    color: #FFFFFF;
    --ionicon-stroke-width: 50px;
}

#transparenciaFiltrado {
    /* display: block; */
    display: none;
    background-color: rgba(255, 255, 255, 0.85);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}

#rectanguloFiltros {
    min-height: 191px;
    background-color: #FFFFFF;
    margin: 50px 35px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px rgba(95, 95, 95, 0.20);
    padding: 17px 25px 10px 25px;
    min-width: 320px;
}

#rectanguloFiltros > div:nth-of-type(1) {
    display: flex;
    align-items: center;
    justify-content: right;
    column-gap: 11px;
}

#rectanguloFiltros h4 {
    margin-bottom: 10px;
}

#rectanguloFiltros p {
    padding: 3px 15px;
    border-radius: 50px;
}

#rectanguloFiltros > div:nth-of-type(1) p {
    padding: 0;
}

.filtroActivo {
    background-color: rgba(114, 125, 243, 0.20);
}

.filtroInactivo {
    background-color: rgba(95, 95, 95, 0.10);
}

#filtroFecha, #filtroCuenta, #filtroTipo, #filtroCategoria {
    display: flex;
    flex-wrap: wrap;
    gap: 11px; 
    margin-bottom: 25px;
}

@media (min-width: 840px) {
    body {
        grid-template-rows: none;
        grid-template-columns: 225px 345px auto;
    }

    header {
        padding: 68px 80px 20px 80px;
        border-radius: 10px 10px 0px 0px;
    }

    header, #vistaTransacciones {
        min-width: 540px;
    }

    #vistaTransacciones {
        padding: 50px 75px 25px 75px;
        border-radius: 0px 0px 10px 10px;
        background-color: #FFFFFF;
    }

    .fuentePeque {
        font-size: 14px;
    }

    #transparenciaFiltrado {
        display: block;
        background-color: rgba(255, 255, 255, 0.85);
        grid-column: 2;
        width: 345px;
        border-radius: none;
    }

    #rectanguloFiltros {
        box-shadow: none;
        margin: 0px;
        padding: 17px 25px 17px 25px;
        margin: 50px 0px;
        background-color: transparent;
    }

    main {
        grid-column: 3;
        justify-content: initial;
        grid-template-columns: none;
        padding: 70px 50px 70px 50px;
    }
}