ion-icon {
    color: rgba(95, 95, 95, 0.80);
    cursor: pointer;
}

body {
    display: grid;
    grid-template-rows: 80px auto 90px;
    position: relative;
}

header {
    align-items: center;
    padding: 40px 35px 20px 35px;
}

header div {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}

.tituloTipo {
    margin: 0px 18px;
}

footer > div:nth-of-type(1) img {
    rotate: 0deg;
}

main > div {
    display: flex;
    flex-direction: column;
    padding: 20px 35px 25px 35px;
    justify-content: space-between;
    height: 100%;
}

#vistaTransacciones {
    padding-bottom: 20px;
    overflow-y: auto;
    max-height: calc(100vh - 295px);
}

.grupoFecha > div {
    border-bottom: 0.5px solid rgba(95, 95, 95, 0.60);
    padding: 13px 0px 13px 0px;
    margin: 0px 0px 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h5 {
    margin: 30px 0px 20px 0px;
    color: #5F5F5F;
    font-size: 15px;
    font-weight: 600;
}

#circulo {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #5F5F5F;
}

#circulo + p {
    margin-right: auto;
    margin-left: 20px;
}

#crearTransaccion {
    width: 40px;
    height: 40px;
    background-color: #727DF3;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
}

#crearTransaccion ion-icon {
    font-size: 22px;
    color: #FFFFFF;
    --ionicon-stroke-width: 50px;
}

#transparenciaFiltrado {
    display: none;
    background-color: rgba(255, 255, 255, 0.85);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
}

#rectanguloFiltros {
    min-height: 191px;
    background-color: #FFFFFF;
    margin: 50px 35px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px rgba(95, 95, 95, 0.20);
    padding: 17px 25px 10px 25px;
    min-width: 320px;
}

#rectanguloFiltros > div:nth-of-type(1) {
    display: flex;
    justify-content: space-between;
    column-gap: 11px;
}

#rectanguloFiltros > div:nth-of-type(1) > div {
    display: flex;
    align-items: center;
    justify-content: right;
    column-gap: 11px;
    padding-bottom: 15px;
}

#rectanguloFiltros h4 {
    margin-bottom: 10px;
}

#rectanguloFiltros p {
    padding: 3px 15px;
    border-radius: 50px;
}

#rectanguloFiltros > div:nth-of-type(1) p {
    padding: 0;
}

.filtroActivo {
    background-color: rgba(114, 125, 243, 0.20);
}

.filtroInactivo {
    background-color: rgba(95, 95, 95, 0.10);
}

#filtroFecha, #filtroCuenta, #filtroTipo, #filtroCategoria {
    display: flex;
    flex-wrap: wrap;
    gap: 11px; 
    margin-bottom: 25px;
}

.cursor {
    cursor: pointer;
}

#cerrar, #guardar, #filtroFecha p, #filtroCuenta p, #filtroTipo p, #filtroCategoria p {
    cursor: pointer;
}

#filtrado {
    max-height: calc(100vh - 130px);
    overflow-y: auto;
}

.noDatos {
    padding-top: 25px;
    text-align: center;
    color: rgba(95, 95, 95, 0.60);
}

@media (min-width: 840px) {
    body {
        grid-template-columns: 225px 350px auto;
        grid-template-rows: none;
        background-color: #F1F2FE;
    }

    header {
        padding: 68px 0px 20px 0px;
        box-shadow: none;
    }
    
    main {
        grid-column: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 70px 50px 70px 50px;
    }

    main > div {
        background-color: #FFFFFF;
        border-radius: 10px;
        padding: 0px 75px 50px 75px;
        width: 100%;
    }

    .fuentePeque {
        font-size: 14px;
    }

    #transparenciaFiltrado {
        display: none;
        background-color: #FFFFFF;
        grid-column: 2;
        width: 350px;
        border-radius: none;
        justify-content: center;
        align-items: center;
        padding: 0px 20px;
    }

    #rectanguloFiltros {
        box-shadow: none;
        background-color: transparent;
        margin: 30px 0px;
    }

    #vistaTransacciones {
        min-width: 540px;
        min-height: calc(100vh - 330px);
        max-height: calc(100vh - 370px);
        padding-top: 0px;
        overflow-y: hidden;
    }

    #vistaTransacciones:hover {
        overflow-y: auto; 
    }

    #crearTransaccion {
        margin-right: -30px;
        margin-bottom: -15px;
    }

    aside {
        z-index: 20;
    }

    aside > div:nth-of-type(1) img {
        rotate: 0deg;
    }

    .main-expandido {
        grid-column: 2 / span 2; 
        padding-right: 100px;
        padding-left: 100px;
    }

    #filtrado {
        overflow-y: hidden;
    }

    #filtrado:hover {
        overflow-y: auto; 
    }
}